.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    font-family: "Grandstander", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scroll-container {
    position: relative;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(10, 10vh);
}

.section .message {
    color: white;
    font-weight: 600;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    mix-blend-mode: hard-light;
    filter: drop-shadow(1px 1px 2px black);
}

.section .scroll-down {
    grid-column: 3;
    grid-row: 9;
    justify-self: center;
}

.section .card {
    background-color: rgba(255, 255, 255, 0.9);
    color: brown;
    border-radius: 10px;
    margin: auto;
    width: 80vw;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
}

.flex {
    display: flex;
    justify-content: center;
}

.section:nth-last-child(2), .section:last-child {
    background-image: url("../assets/day_dead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img.overlay {

}
