html {
    background-color: white;
}

body {
    font-family: "Grandstander", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

html, body {
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}

.section:last-child {

}

.section .message {
    color: white;
    font-weight: 600;
    position: absolute;
    top: 15vh;
    filter: drop-shadow(0px 0px 2px gray);
    text-align: center;
}

.message.last {
    mix-blend-mode: hard-light;
    filter: drop-shadow(1px 1px 2px black);
}

.section .scroll-down {
    position: absolute;
    bottom: 15vh;
}

.section .card {
    position: absolute;
    background-color: rgba(255,255,255, 0.9);
    color: brown;
    border-radius: 10px;
    margin: auto;
    width: 80vw;
    height: 20vh;
    top: 45vh;
    padding: 10px;
}
.flex {
    display: flex;
    justify-content: center;
}
